@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-1004px.css");

*{
    margin: 0;
    padding: 0;

}

/* 
    vw=view widht
    vh= view height
*/
html{
    font-size: 62.7%;
}

.tit-sec {
    font-size: 4rem;
    text-align: center;
}

.conteudo {
    font-size: 2rem;
}

.conteudo >div {
    font-size: 2rem;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #d9d9d9;
}

.rodape img {
    max-width: 10%;
    display: block;
    margin: 0 auto;
}

.rodape nav {
    display: flex;
    justify-content: space-around;
}

.rodape a {
    padding: 5%;
}

.rodape a:hover{
    background-color: #2c28288b;
}